/* Mobile */
.a{
    background-color: rgb(244, 150, 150);
    border: 1px solid black;
    height: 75px;
    width: 100%;
}
.b{
    background-color: rgb(225, 4, 4);
    border: 1px solid black;
    height: 150px;
    width: 100%; 
}
.cd{
    background-color: yellow;
    border: 1px solid black;
    height: 125px;
    width: 100%; 
}
#d{
    background-color: gold;
}
.efgh{
    background-color: rgb(158, 182, 123);
    /* border: 0.1px solid black; */
    height: 250px;
    width: 50%; 
}
#e{
    background-color: rgb(165, 213, 159);
    float: left;
}
#f{
    background-color: rgb(120, 167, 49);
    float: right;
}
#g{
    background-color: rgb(16, 123, 46);
    float: left;
}
#h{
    background-color: rgb(40, 65, 2);
    float: right;
}
.i{
    background-color: rgb(13, 51, 173);
    border: 1px solid black;
    height: 80px;
    width: 100%; 
    clear: both;
}

/* Desktops! */
@media (min-width: 768px) {
    .a{
        background-color: rgb(11, 10, 10);
        /* border: 1px solid black; */
        height: 100px;
        width: 100%;
    }
    .b{
        background-color: rgb(41, 5, 26);
        /* border: 1px solid black; */
        height: 600px;
        width: 19%;
        float: left;
    }
    
    #c{
        height: 200px;
        width: 40%;
        float: left; 
    }
    #d{
        height: 200px;
        width: 40%;
        float: right; 
        background-color: rgb(255, 0, 0);
    }
    .efgh{
        height: 250px;
        width: 19.79%; 
    }
    #e{
        background-color: rgb(20, 9, 237);
        float: left;
    }
    #f{
        background-color: rgb(121, 176, 133);
        float: left;
    }
    #g{
        background-color: rgb(184, 211, 46);
        float: left;
    }
    #h{
        background-color: rgb(228, 126, 58);
        float: right;
    }
    .i{
        background-color: rgb(118, 8, 118);
        /* border: 1px solid black; */
        height: 150px;
        width: 79.16%; 
        display: block;
        float: right
    }
}