/* Mobile! */
.a{
    background-color: rgb(244, 150, 150);
    border: 1px solid black;
    height: 75px;
    width: 100%;
}
.b{
    background-color: rgb(225, 4, 4);
    border: 1px solid black;
    height: 150px;
    width: 100%; 
}
.cd{
    background-color: yellow;
    border: 1px solid black;
    height: 125px;
    width: 100%; 
}
#d{
    background-color: gold;
}
.efgh{
    background-color: rgb(158, 182, 123);
    /* border: 0.1px solid black; */
    height: 250px;
    width: 50%; 
}
#e{
    background-color: rgb(165, 213, 159);
    float: left;
}
#f{
    background-color: rgb(120, 167, 49);
    float: right;
}
#g{
    background-color: rgb(16, 123, 46);
    float: left;
}
#h{
    background-color: rgb(40, 65, 2);
    float: right;
}
.i{
    background-color: rgb(13, 51, 173);
    border: 1px solid black;
    height: 80px;
    width: 100%; 
    clear: both;
}
/* Tablets! */
@media (min-width: 767px){
    .a{
        background-color: rgb(215, 119, 3);
        border: 1px solid black;
        height: 75px;
        width: 100%;
    }
    .b{
        background-color: rgb(255, 255, 0);
        border: 1px solid black;
        height: 150px;
        width: 100%; 
    }
    
    #c{
        height: 200px;
        width: 49.73%;
        float: left;
        background-color: rgb(159, 10, 233); 
    }
    #d{
        height: 200px;
        width: 49.74%;
        float: right; 
        background-color: rgb(61, 12, 142);
    }
    #e{
        background-color: rgb(236, 236, 240);
    }
    #f{
        background-color: rgb(64, 159, 85);
    }
    #g{
        background-color: rgb(3, 70, 16);
    }
    #h{
        background-color: rgb(16, 34, 25);
    }
    .i{
        background-color: rgb(42, 0, 84);
    }
}

/* Desktops! */
@media (min-width: 1020px) {
    .a{
        background-color: rgb(11, 10, 10);
        /* border: 1px solid black; */
        height: 100px;
        width: 100%;
    }
    .b{
        background-color: rgb(41, 5, 26);
        /* border: 1px solid black; */
        height: 600px;
        width: 19%;
        float: left;
        flex-wrap: wrap;
    }
    
    #c{
        height: 200px;
        width: 40.1%;
        float: left; 
    }
    #d{
        height: 200px;
        width: 40.1%;
        float: right; 
        background-color: rgb(255, 0, 0);
    }
    .efgh{
        height: 250px;
        width: 20.18%; 
        float: left;
        flex-wrap: wrap;
        /* display: inline-block;   */
    }
    #e{
        background-color: rgb(20, 9, 237);
    }
    #f{
        background-color: rgb(121, 176, 133);
    }
    #g{
        background-color: rgb(184, 211, 46);
    }
    #h{
        background-color: rgb(228, 126, 58);
    }
    .i{
        background-color: rgb(118, 8, 118);
        /* border: 1px solid black; */
        height: 150px;
        width: 80.6%; 
        /* justify-content: space-evenly; */
        /* flex-wrap: wrap;  */
        display: inline-block;   
    }   
}
