.head{
    background-color: rgb(244, 150, 150);
    border: 1px solid black;
    display: block;
    height: 75px;
    width: 480;
}
.b{
    background-color: rgb(225, 4, 4);
    border: 1px solid black;
    display: block;
    height: 150px;
    width: 480; 
}
.cd{
    background-color: yellow;
    border: 1px solid black;
    display: block;
    height: 125px;
    width: 480; 
}
.efgh{
    background-color: rgb(158, 182, 123);
    border: 1px solid black;
    display: block;
    height: 250px;
    width: 240; 
}
.foot{
    background-color: rgb(30, 194, 55);
    border: 1px solid black;
    display: block;
    height: 80px;
    width: 480; 
}



/* Desktops! */
@media (min-width: 768px) {

    section {
        overflow:hidden;
    }

    div {
        float:left;
        width:300px;
    }
}
/* body{
    max-width: 960;
    margin: auto;
    vertical-align: middle;
} */