/* .a{
    background-color: rgb(244, 150, 150);
    border: 1px solid black;
    display: block;
    height: 7.109%;
    width: 100%;
}
.b{
    background-color: rgb(225, 4, 4);
    border: 1px solid black;
    display: block;
    height: 14.218%;
    width: 100%; 
}
.cd{
    background-color: yellow;
    border: 1px solid black;
    display: block;
    height: 11.848%;
    width: 100%; 
}
.efgh{
    background-color: rgb(158, 182, 123);
    border: 1px solid black;
    display: block;
    height: 23.696%;
    width: 50%; 
}
.i{
    background-color: rgb(30, 194, 55);
    border: 1px solid black;
    display: block;
    height: 7.5829%;
    width: 100%; 
} */
